{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- Begin page content -->
                {% block content %}
                <div class="row title">
                    <p class="header">New Question</p>
                </div>
                <form class="needs-validation" method="POST" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                            <button class="btn btn-primary" type="submit">ASK!</button>

                    {% endbuttons %}
                </form>
                {% endblock content %}