{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

            {% block navbar %}
                {%include 'inc/non-navbar.html' %}
            {% endblock navbar %}
                {% block content %}
                <div class="row title">
                    <p class="header">Log in</p>
                </div>
                <form class="was-validated" method="POST" action="/login/">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                            <button class="btn btn-primary" type="submit">Log in!</button>
                    {% endbuttons %}
                            <div class="row">
                                <a class="nav-link" href="{% url 'register' %}">create new account</a>
                            </div>
                </form>
                {% endblock content %}