{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

                {% block content %}
                <div class="row" style="margin-top: 50px">
                    <div class="col-3">
                        <div class="question-title">
                            {{question.author}}
                        </div>
                        <img class="main-img" src="{% static 'img/113.jpg' %}">
                        {% include 'inc/counter.html' %}
                    </div>
                    <div class="col-9" style="position: relative">
                        <div class="question-title">{{ question.title }}</div>
                        <div class="date">
                            {{question.date_create}}
                        </div>
                        <div class="question-text">
                            {{ question.text }}
                        </div>
                        <div class="row links">
                            <div class="col-12">
                                Tags:
                                {% for tg in question.tags.all %}
                                <a class="nav-link" href="{% url 'tag' tg %}">{{tg}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% for answer in elems %}
                    {% include 'inc/one_answer.html' %}
                {% endfor %}
                <hr>
                <form class="form" method="POST" novalidate>
                    {% csrf_token %}

                    {% bootstrap_form form %}
                <div class="row">
                    {% buttons %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Answer</button>
                    {% endbuttons %}
                </div>
                </form>
                {% endblock content %}
                {% block bottom %}
                    {% include 'inc/paginator.html' %}
                {% endblock bottom %}