{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}


                {% block navbar %}
                    {%include 'inc/non-navbar.html' %}
                {% endblock navbar %}
                {% block content %}
                <div class="row title">
                    <p class="header">Registration</p>
                </div>
                <form class="was-validated" method="POST" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        {% buttons %}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register!</button>
                        {% endbuttons %}
                </form>
                    </div>
                </div>
                {% endblock content %}