{% load static %}

<div class="row question-box">
    <div class="col-3">
        <img class="question-img" src="{% static 'img/113.jpg' %}">
        {% include 'inc/counter.html' %}
    </div>
    <div class="col-9" style="position: relative">
        <div class="question-text">
            {{ answer.text }}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aperiam debitis dolor dolorum ea iusto magni maiores molestias neque nihil nisi non officiis omnis perspiciatis, quas quis saepe sed.
        </div>
        <div class="row links">
            <div class="form-group form-check" style="position: absolute; bottom: 0">
                <input type="checkbox" class="form-check-input" id="Correct">
                <label class="form-check-label" for="Correct">Correct!</label>
            </div>
        </div>
    </div>
</div>