{% load static %}

<div class="row question-box">
    <div class="col-3">
        <div class="question-title">
            {{question.author}}
        </div>
        <img class="question-img" src="{% static 'img/113.jpg' %}">
        {% include 'inc/counter.html' %}
    </div>
    <div class="col-9" style="position: relative">
        <div class="question-title"><a href="{% url 'question' pk=question.id %}" style="text-decoration: underline">{{question.title}}</a></div>
        <div class="date">
            {{question.date_create}}
        </div>
        <div class="media-body pb-3 mb-0 small lh-125">
            {{question.text}}
        </div>
        <div class="row">
            <div class="col-3">
                <a class="nav-link" href="{% url 'question' pk=question.id %}">answers ({{ question.answers }})</a>
            </div>
            <div class="col-9">
                <span>Tags:</span>
                {% for tg in question.tags.all %}
                <a class="nav-link" href="{% url 'tag' tg %}">{{tg}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>