{% load static %}

<div class="row question-box">
    <div class="col-3">
        <div class="question-title">
            {{answer.author}}
        </div>
        <img class="question-img" src="{% static 'img/113.jpg' %}">
        {% include 'inc/counter_ans.html' %}
    </div>
    <div class="col-9" style="position: relative">
        <div class="date">
            {{answer.date_create}}
        </div>
        <div class="question-text">
            {{ answer.text }}
        </div>
        <div class="row links">
            <div class="form-group form-check" style="position: absolute; bottom: 0">
                <input type="checkbox" class="form-check-input" id="Correct">
                <label class="form-check-label" for="Correct">Correct!</label>
            </div>
        </div>
    </div>
</div>